<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IBM25Jan24DbEntities" connectionString="metadata=res://*/Models.EmpModel.csdl|res://*/Models.EmpModel.ssdl|res://*/Models.EmpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=IBM25Jan24Db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>